# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
.env
# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
*.swp
.idea/
.vscode/

# MLflow
mlflow.db
mlruns/
**/mlruns/

# Python artifacts
*.pkl
*.joblib

# DVC
.dvc/cache
.dvc/tmp

Eksperimen_SML_ASEP_HARYANA_SAPUTRA.zip